<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ha.ToeicReading">

    <application
        android:allowBackup="true"
        android:icon="@drawable/toeic_images"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.ha.ToeicReading.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ha.ToeicReading.slide.ScreenSlideActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.example.ha.ToeicReading.slide.TestDoneActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:label="600 từ vựng Toeic"
            android:name="com.example.ha.ToeicReading.tuvung.TuVungActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.example.ha.ToeicReading.word_detail"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>